<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mini Jeu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="button-container">
        <button id="generate">Générer un mot</button>
    </div>
    <div id="loading" style="display: none;">Chargement...</div>
    <div class="word-container">
        <h2 id="word"></h2>
        <ul id="definitions"></ul>
    </div>
    <footer>
        <p>&copy; <span id="year"></span> Tous droits réservés.</p>
    </footer>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("generate").addEventListener("click", function() {
            var loading = document.getElementById("loading");
            loading.style.display = "block";
            fetch("/mot_aleatoire")
                .then(response => response.json())
                .then(data => {
                    var word = document.getElementById("word");
                    var definitions = document.getElementById("definitions");
                    word.style.opacity = 0;
                    setTimeout(function() {
                        word.textContent = data.mot;
                        word.style.opacity = 1;
                    }, 500);
                    definitions.innerHTML = "";
                    data.definitions.forEach(function(definition) {
                        var li = document.createElement("li");
                        li.textContent = definition;
                        li.style.opacity = 0;
                        definitions.appendChild(li);
                        setTimeout(function() { li.style.opacity = 1; }, 500);
                    });
                    loading.style.display = "none";
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération du mot aléatoire:', error);
                    loading.style.display = "none";
                });
        });
        document.getElementById("year").textContent = new Date().getFullYear();
    });
    </script>
</body>
</html>
