<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu du Mot Aléatoire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <h2>Jeu du Mot Aléatoire</h2>
    </div>
    <div class="container">
        <div class="word-container">
            <div class="card word-card" id="word-card">
                <h3>Mot</h3>
                <div id="hidden-word" class="hidden-word"></div>
            </div>
            <button id="show-word">Afficher le mot</button>
        </div>
        
        <div class="button-container">
            <button id="generate-word">Générer un mot</button>
        </div>

        <div class="definition-container">
            <div class="card definition-card" id="definition-card">
                <h3>Définition</h3>
                <p id="definition">Cliquez sur "Générer un mot" pour commencer.</p>
            </div>
            <div class="button-container">
                <button id="read-definition">Lire la définition</button>
                <button id="pause-definition">Pause</button>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 - Tous droits réservés.</p>
        </footer>
        
    </div>
    <script src="{{ url_for('static', filename='js/gameScript.js') }}"></script>
</body>
</html>
